<app-header></app-header>
<main>
  <div class="content-cards">
    <mat-card-header>Historial de Compras</mat-card-header>
    <br />
    <br />
    <mat-card-content>
      <mat-accordion>
        @for(compra of compras; track compra){
        <mat-expansion-panel >
          <mat-expansion-panel-header style="height: 100%">
            <mat-panel-title>
              <div style="display: flex; flex-direction: column">
                <span><mat-icon fontIcon="local_mall"></mat-icon> Compra N°{{ compra.id }}</span>
                <span>{{ compra.fecha_compra }}</span>
              </div>
            </mat-panel-title>

            <div style="display: flex; flex-direction: column; margin-right: 2%">
              <span>{{ compra.monto_pagado | currency:'USD' }}</span>
              <span>{{ compra.carrito.productos.length }} productos</span>
            </div>
          </mat-expansion-panel-header>

          <mat-divider></mat-divider>

          <div style="background-color: transparent; border: none">
            <mat-card-content>
              <div class="order-summary-card">
                @for(item of compra.carrito.productos; track item){
                <div  class="cart-item">
                  <div class="image-box"></div>
                  <div class="info">
                    <div class="name">{{ item.nombre }}</div>
                    <div class="price">
                      {{ item.pivot.cantidad }} x {{ item.precio | currency:'USD' }}
                    </div>
                  </div>
                </div>
            }
                <div class="total">
                  <span>Total</span>
                  <span>{{ compra.monto_pagado | currency:'USD' }}</span>
                </div>
              </div>
            </mat-card-content>
          </div>
        </mat-expansion-panel>
    }
      </mat-accordion>
    </mat-card-content>
  </div>
</main>
