<div class="content-cards">
  @for (product of products; track product) {

 <mat-card class="product-card">
  <mat-card-header>
    <img mat-card-image [src]="product.image" alt="{{ product.nombre }}" width="250" class="card-img">
  </mat-card-header>

  <mat-card-content>
    <span class="title">{{ product.nombre }}</span>
    <p class="subtitle">{{ product.descripcion }}</p>
    <span class="price">{{ product.precio | currency:'USD' }}</span>
  </mat-card-content>

  <mat-card-actions>
    <button mat-fab extended (click)="addToCart(product)" class="btn-add-cart">
      <mat-icon>shopping_cart</mat-icon>
      Agregar al carrito
    </button>
  </mat-card-actions>
</mat-card>


  }

</div>

