mat-divider {
  margin-top: 1rem;
}

.example-card {
  width: 20rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


}
  .titlle {
    font-size: 1.2rem;
    font-weight: 500;
  }
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.image-box {
  width: 50px;
  height: 50px;
  background-color: rgb(26, 24, 24);
  border: 1px solid black;
  margin-right: 12px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column; // mantiene nombre arriba y precio abajo
  justify-content: center;
}

.name {
  font-weight: bold;
  margin-bottom: 4px;
}

.price {
  color: gray;
  font-size: 14px;
}

.controls {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.badge {
  height: 1.5rem;
  width: 1.5rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  #total {
    font-weight: 800;
  }
}

.content-text {
  display: flex;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  flex-direction: column;
}